.image--grid{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .image{
    height: 165px;
    width: 125px;
    border-radius: 14px;
    padding: 5px 3px;
  }
  .col1,.col2,.col3,.col4{
    display: flex;
    flex-direction: column;
  }
  .col2,.col4{
    margin-top: 50px;
  }
  .first--image{
    height: 165px;
    width: 125px;
    border-radius: 14px;
    padding: 5px 3px;
    margin-top: 80px;
  }